/* Сброс стилей для всех элементов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Стили для body */
body {
    background-color: #1D202F;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Анимация для плавного появления */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Стили для ссылок */
a {
    text-decoration: none;
    color: #5FE4DB;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards; /* Плавное появление ссылки */
}

/* Панель меню */
.Panel-menu {
    width: 100%;
    height: 93px;
    background-color: #0B0C10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Логотип */
.logo {
    color: #66FCF1;
    font-size: 45px;
}

/* Панель навигации (основное меню) */
.Panel {
    display: flex;
    flex-direction: row;
    gap: 29px;
}

/* Панель для загрузки и веб-версии */
.Panel-dowload-web {
    display: flex;
    flex-direction: row;
    gap: 29px;
}

/* Блок с изображением и мессенджером */
.image-mesanger {
    height: 750px;
    width: 100%;
    background-color: #616161;
    display: flex;
    justify-content: center;
    align-items: center; /* Центрируем по вертикали */
    text-align: center;

}

/* Блок с текстом на баннере */
.baner-center-dowload {
    font-size: 25px;
    animation: fadeIn 2s ease-in forwards;
    margin: auto;
}

/* Кнопки */
.button {
    background-color: #355fba63;
    color: white;
    padding: 12px 24px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.8s ease;
    outline: #1073E4 solid 2px;
    margin: 15px auto;
}

/* Эффекты при наведении на кнопку */
.button:hover {
    background-color: #355FBA;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-8px);
}

/* Эффекты при клике на кнопку */
.button:active {
    background-color: #20396e;
    box-shadow: 0 3px 5px rgba(183, 180, 180, 0.2);
    transform: translateY(4px);
}

/* Текст в заголовке */
#text-head {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 25px auto;
    font-size: 25px;
}

/* Настройки для текста на мессенджере */
.image-mesanger {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Стили для навигационных пунктов */
.Menu-navigate-text {
    font-size: 25px;
    font-weight: bold;
    color: #66FCF1;
    margin-bottom: 10px;
    border-radius: 15px;
}
