.Login{
    width: 500px;
    height: 700px;
    background-color: blue;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 0, 0); /* Цвет текста */
    font-size: 20px;
    

}
.Login_button_div{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; /* Отступ сверху */
    margin-bottom: 20px; /* Отступ снизу */

}
.Login_button{
    font-size: 18px; /* Размер шрифта */
    font-family: Arial, sans-serif; /* Шрифт */
    font-weight: bold; /* Жирный шрифт */
    width: 200px; /* Устанавливаем фиксированную ширину */
    height: 50px; /* Устанавливаем фиксированную высоту */
    padding: 10px 20px; /* Устанавливаем внутренние отступы (вверх/вниз и слева/справа) */
    background-color: #007bff; /* Цвет фона */
    color: white; /* Цвет текста */

}
.Password_Input, .Login_Input{
    width: 200px;
}
body {
    background-color: #0f060ac9;
    font-family: Arial, sans-serif;
    color: #333;
}