/* Сброс стандартных отступов и границ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f060ab0;
    font-family: Arial, sans-serif;
    color: #333;
}

.display {
    font-size: 20px;
    display: flex;
    height: 100vh; /* На весь экран */
}

.row-Intarfase,
.row-Chats,
.row-Mesage {
    font-size: 20px;
}

.row-Intarfase {
    width: 10%; /* 25% ширины контейнера */
    background-color: #000000;
    padding: 20px;
    border-right: 2px solid #ccc;
}
.row-Chats{
    width: 30%; /* 75% ширины контейнера */
}
.row-Mesage{
    width: 75%; /* 75% ширины контейнера */
    padding: 20px;
    background-color: #ff0707;
    
}
.info-grup{
    width: 100%;
    height: 10%;
    background-color: #274426;
    margin: auto;
    margin: 10px;
}
.grup-image{

    background-color: #030101;
    border-radius: 1000px;
    width: 72px;
    height: 72px;
    margin: auto;
    margin: 10px;
}
.grup-name{
    margin: auto;
    margin: 90px;
}
.grup-message-border{
    
    width: 100%;
    height: 65%;
    background-color: #333;
    margin: auto;
    margin-top: 30px;
    margin-right: 10px;

}
.grup-message-input{
    width: 90%;
    height: 20%;
    margin: auto;
    margin-top: 5px;
    position: sticky;
    left: 0;
    
    
}
.gruo-message-enter{
    width: 10%;
    height: 20%;
    background-color: #7700ff;
    margin-left: auto;
}